<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">-->
<div th:insert="Navbar"></div>
    <form th:action="${'/availability/add/'}" method="post">
    <select  style="margin-top: 5px; margin-left: 2px" name="shoes">
        <div style="margin-top: 5px" th:each="element : ${shoes}">
            <option style="margin-top: 5px" th:value="${element.id}" th:text="${element.brand}"></option>
        </div>
    </select>
    <select style="margin-top: 5px; margin-left: 2px" name="branch">
        <div style="margin-top: 5px" th:each="element : ${branches}">
            <option style="margin-top: 5px" th:value="${element.id}" th:text="${element.address}"></option>
        </div>
    </select>
    <br>
    <button style="margin-top: 5px; background: #FFA500; margin-left: 2px" type="submit" class="btn btn-del">Добавить товар</button>
</form>

<div style="margin-left: 2px" th:each="shoes : ${shoes}">
    <h2 th:text="${shoes.getBrand()}"></h2>
    Наличие товара в магазинах:<br>
    <div th:each="branch : ${shoes.getBranches()}">
        <div th:text="${branch.getAddress()}"></div><br>
        <form th:action = "'branch/delShoes/'+ ${shoes.id} + '/'+ ${branch.id}" method="post">
            <button style="margin-top: 5px; background: #FFA500; margin-left: 2px" type="submit" class="btn btn-del">Удалить</button>
        </form>
    </div>
</div>
</body>
</html>