<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<div th:insert="Navbar"></div>
<h1 style="text-align: center">Все адреса</h1>
<a href="/branch/add">Добавить адрес</a>
<div th:each="el : ${branch}">
    <hr>
    <p style="text-align: center">Адрес филиала</p>
    <a th:href="'/branch/' + ${el.id} + '/edit'"><h3 th:text="${el.address}" style="text-align: center"></h3></a>
    <hr>
</div>
<div th:each="el : ${branch}">
    <tr>
        <td><h3 style="color:#FFFFFF" th:text="${el.getAddress()}"></h3></td>
        <td><a style="color: #FFFFFF"  th:href="'/branch/' + ${el.id} + '/edit'">Подробнее</a></td>
    </tr>
</div>
</body>
</html>